::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: azure;
}

::-webkit-scrollbar-thumb {
    background: rgb(97, 97, 97);
    border-radius: 4px;
}